
<a href="/logout" class="pull-right">Logout</a>

<h2>Hello <%= @current_user['name'] %></h2>
<br>

<div class="panel panel-default">
  <div class="panel-heading">Contact</div>
  <div class="panel-body">
    <%= form_tag '/contact', method: :put do %>
        <div class="form-group">
          <label for="exampleFirstname">First name</label>
          <input name="contact[firstname]" type="text" class="form-control" id="exampleFirstname" placeholder="Name" value="<%= @current_user['firstname'] %>">
        </div>

        <div class="form-group">
          <label for="exampleInputName">Last name</label>
          <input name="contact[lastname]" type="text" class="form-control" id="exampleInputLastname" placeholder="Last name" value="<%= @current_user['lastname'] %>">
        </div>

        <div class="form-group">
          <label for="exampleInputPhone">Phone</label>
          <input name="contact[phone]" type="phone" class="form-control" id="exampleInputPhone" placeholder="Phone" value="<%= @current_user['phone'] %>">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input name="contact[email]" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="<%= @current_user['email'] %>">
        </div>

        <input type="submit" class="btn btn-default" value="save">
    <% end %>
  </div>
</div>
